<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" charset="utf-8">
    <title>News</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="shortcut icon" type="image/png" href="static/favicon.png"/>
  </head>
  <body>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <a class="navbar-brand" href="#"><img src="static/favicon.png" alt="Logo" style="width:40px;"></a>
      <a class="navbar-brand" href="#" style="margin-right: 30px;">News LDA</a>

      <li class="nav-item" style="margin-right: 20px;">
        <a class="dropdown-toggle" data-toggle="dropdown"  style="color: white; cursor: pointer">Help</a>
        <div class="dropdown-menu">
          <a class="dropdown-item">Click on a story from <em>Today's News</em> to see the topics it belongs to.</a>
          <a class="dropdown-item">Click on a topic from <em>Today's Topics</em> to see the words it comprises.</a>
          <a class="dropdown-item">Get recommendations on <em>Similar News</em> for either an article or a topic.</a>
        </div>
      </li>

      <li class="nav-item" style="margin-right: 20px;">
        <a class="dropdown-toggle" data-toggle="dropdown"  style="color: white; cursor: pointer">About</a>
        <div class="dropdown-menu">
          <div class="container">
            <img src="static/about.jpg">
          </div>
        </div>
      </li>

      <li class="nav-item" style="margin-right: 20px;">
        <a class="dropdown-toggle" data-toggle="dropdown"  style="color: white; cursor: pointer">Quality</a>
        <div class="dropdown-menu">
          <div class="container">
            <img src="static/quality.png">
          </div>
        </div>
      </li>

      </div>

    </nav>


    <div class="row" style="margin: 20px">
      <div class="col-sm-6">
        <div class="row">
          <div class="container">

            <div class="panel-group">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse1" style="color: inherit;">Today's News</a>
                  </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                  <ul class="list-group">
                    {% for title, url in news %}
                    <li href="#" class="list-group-item todays-news" style="cursor: pointer">
                      <!-- <div class=""> -->
                        <h5 class="card-title">{{ title }}</h5>
                        <p class="card-text"><small class="text-muted">{{ url }}</small></p>
                      <!-- </div> -->
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="row" style="margin-top: 20px">
          <div class="container">

            <div class="panel-group">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse5" style="color: inherit;">Today's Topics</a>
                  </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse">
                  <ul class="list-group">
                    {% for words in topics %}
                    <li href="#" class="list-group-item todays-topics" style="cursor: pointer">
                      <!-- <div class=""> -->
                        <h5 class="card-title">Topic {{ loop.index - 1}}</h5>
                        <p class="card-text">{{ words }}</p>
                      <!-- </div> -->
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="row">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse15" style="color: inherit;">Topic Classification</a>
          </h4>
          <div id="collapse15" class="container collapse news-lda">
            <!-- Results of LDA -->
          </div>
        </div>

        <div class="row" style="margin-top: 20px">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse2" style="color: inherit;">Topic Description</a>
          </h4>
          <div id="collapse2" class="container collapse news-topics">
            <!-- Topics analysis -->
          </div>
        </div>

        <div class="row" style="margin-top: 20px">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse3" style="color: inherit;">Similar News</a>
          </h4>
          <div id="collapse3" class="container collapse news-recommendations">
            <!-- News recommendations -->
          </div>
        </div>
      </div>
    </div>


    <script type="text/javascript">
      $(function() {
        var newsarticle = {};
        var newstopic = {};

        $("body").on("click", ".todays-news", function() {
          $(".news-lda").html("");
          $(".news-recommendations").html("");
          $(".news-topics").html("");

          newsarticle.title = $(this).find("h5").first().html();
          newsarticle.url = $(this).find("small").first().html();

          $(".news-lda").html("");
          $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "http://localhost:5000/lda",
            dataType : "json",
            data : JSON.stringify({
              "title": newsarticle.title,
              "url": newsarticle.url
            }),
            success : function(result) {
              $(".news-lda").html(result["html"]);
              $(".news-recommendations").html(result["recoms"]);
              $(".news-topics").html(result["topics"]);
            }
          });
        });

        $("body").on("click", ".todays-topics", function() {
          $(".news-lda").html("");
          $(".news-recommendations").html("");
          $(".news-topics").html("");

          newstopic.topic = parseInt($(this).find("h5").first().html().substr(-1));

          $(".news-lda").html("");
          $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "http://localhost:5000/topics",
            dataType : "json",
            data : JSON.stringify({
              "topic": newstopic.topic
            }),
            success : function(result) {
              // $(".news-lda").html(result["html"]);
              $(".news-topics").html(result["topics"]);
              $(".news-recommendations").html(result["recoms"]);
              console.log(result);
            }
          });
        });

        $("body").on("click", ".carousel-control.left", function() {
          $('#myCarousel').carousel('prev');
        });

        $("body").on("click", ".carousel-control.right", function() {
          $('#myCarousel').carousel('next');
        });

      });
    </script>
  </body>
</html>
