
<div id="demo" class="carousel slide" data-ride="carousel">

  <div class="carousel-inner">
    {% for image in topics %}
    <div class="carousel-item item{% if loop.index == 1 %} active{% endif %}">
      <img src="data:image/jpeg;base64,{{image}}" alt="Los Angeles">
    </div>
    {% endfor %}
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>
